name: hoge ci
on: push

jobs:
  build:
   name: hoge
   runs-on: ubuntu-latest
   env:
    USER_NAME : "hoge"
   steps:
    # - run : mkdir build
    - run : ls
    - run : pwd
    # - run : cat README.md
    #  - run : echo "secret user name : ${{secrets.USER_NAME}}"
