name: hoge ci
on: push

jobs:
  build:
    name: hoge
    runs-on: ubuntu-latest
  env:
    USER_NAME : "hoge"
  steps:
  - run : ls
  - run : pwd
  - run : echo "hoge workd!"
  - uses: actions/checkout@v1
  - name: Push to server
  - with :
    host: ${{ secrets.SERVER_IP }}
    username: ${{ secrets.SERVER_USERNAME }}
    password: ${{ secrets.SERVER_PASSWORD }}
    script: cd ${{ secrets.PROJECT_PATH }} && git pull

name: deploy to server

on:
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v1

    - name: Deploy
      with :
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USERNAME }}
        password: ${{ secrets.SERVER_PASSWORD }}
        script: cd ${{ secrets.PROJECT_PATH }} && git pull
      