name: Hello, World!
on: 
 push:
  brances:
   - master

jobs:
  build:
    name: Greeting
    runs-on: ubuntu-latest
    env:
     USER_NAME : "hoge"
    steps:
     - name : "test"
     - uses : master
     - run : ls     
     - run : echo "fugafuga"
     - run : cat fuga.txt
     - run : cat README.md
    #  - run : cat README.md
  
    #  - run : echo "secret user name : ${{secrets.USER_NAME}}"
